# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Windows Zone.Identifier
*:Zone.Identifier

# Build outputs
a.out
*.o
*.out
bin/
obj/
.vs/
output/
digital/__pycache__/
digital/export_nef_metadata
digital/extract_shutter_rgb/
digital/extract_shutter_rgb

# executables
rgb/grey
rgb/rgb

# Generated images / binaries
*.png
*.jpg
*.jpeg
*.ppm
*.tiff
*.tif

# Ignore all RAW files by default
# *.NEF

# But keep this one
!public/sakura/DSC_5901.NEF

# Ignore csv / dat
*.csv
*.dat

# Ignore all txt
*.txt

# Keep source and scripts
!*.c
!*.h
!*.cpp
!*.cs
!*.csproj
!*.sln
!*.py
!*.m
!*.sh
!*.plt
!Makefile
